harmony/code/*.hco
harmony/code/*.gv
harmony/code/*.htm
harmony/code/*.hvb
harmony/code/*.hvm
harmony/code/*.png
harmony/code/*.tla
harmony/graph/*.hco
harmony/graph/*.gv
harmony/graph/*.htm
harmony/graph/*.hvb
harmony/graph/*.hvm
harmony/graph/*.png
