harmony/code/*.hco
harmony/code/*.gv
harmony/code/*.htm
harmony/code/*.hvb
harmony/code/*.hvm
harmony/code/*.png
harmony/code/*.tla
graph/*.hco
graph/*.gv
graph/*.htm
graph/*.hvb
graph/*.hvm
graph/*.png
lib/*.hco
lib/*.gv
lib/*.htm
lib/*.hvb
lib/*.hvm
lib/*.png
